.cart-container {
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 30px;
}

.cart-item {
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 30px;
   margin-bottom: 30px;
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
   border-radius: 10px;
   background-color: var(--white-color);
   position: relative;
}

.cart-item-remove {
   position: absolute;
   top: 30px;
   right: 30px;
   cursor: pointer;
}

.cart-item-image {
   max-width: 140px;
}

.cart-item-content__price,
.cart-item-content__title {
   font-weight: 500;
   font-size: var(--xlarge-font-size);
   line-height: var(--xlarge-line-height);
}

.cart-item-content__title {
   color: var(--text-color-2);
   margin-bottom: 10px;
}

.card-item-content-prices {
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   gap: 5px;
}

.cart-item-content__price {
   display: flex;
   color: var(--primary-color);
   font-size: var(--xlarge-font-size);
   line-height: var(--xlarge-line-height);
}

.cart-item-content__category {
   font-weight: 400;
   color: var(--text-color);
   font-size: var(--medium-font-size);
   line-height: var(--medium-line-height);
}

.cart-item-content__quantity {
   display: flex;
   align-items: center;
   gap: 40px;
}

.cart-item-content__counter {
   display: flex;
   align-items: center;
   gap: 20px;
}

.cart-item-content__counter--minus,
.cart-item-content__counter--plus {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-shrink: 1;
   font-size: var(--xlarge-font-size);
   cursor: pointer;
   color: var(--gray-graphite-color);
   padding: 0px 7px;
   border: 2px solid var(--gray-graphite-color);
   border-radius: 3px;
   background-color: transparent;
}

.cart-item-content__counter--minus.is-disable {
   opacity: .2;
   pointer-events: none;
}

.cart-item-content__counter--plus.is-disable {
   opacity: .2;
   pointer-events: none;
}

.cart-item-content__counter--number {
   color: var(--text-color-2);
   font-size: var(--xlarge-font-size);
   line-height: var(--xlarge-line-height);
}

.cart-item-content__more {
   color: var(--gray-light-color);
   font-weight: 400;
   font-size: var(--small-font-size);
   line-height: var(--small-line-height);
}

.cart-payment-detail {
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
   overflow: hidden;
   border-radius: 10px;
   margin-bottom: 30px;
}

.cart-payment-detail__header,
.cart-payment-detail__total {
   padding: 15px 20px;
}

.cart-payment-detail__total--title,
.cart-payment-detail__title {
   border-bottom: 1px solid var(--gray-silver-color);
   padding-bottom: 10px;
   font-weight: 500;
   color: var(--text-color-2);
   font-size: var(--xxlarge-font-size);
   line-height: var(--xxlarge-line-height);
}

.cart-payment-detail__total--item,
.cart-payment-detail__sub {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
   font-size: var(--xlarge-font-size);
   line-height: var(--xlarge-line-height);
   color: var(--gray-graphite-color);
}

.cart-payment-detail__total {
   background-color: var(--bg1);
}

.cart-payment-checkout {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cartempty-main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.cartempty-image {
   margin-bottom: 70px;
}

.cartempty-title {
   color: var(--heading-color);
   font-weight: 700;
   font-size: var(--heading-font-size);
   line-height: var(--heading-line-height);
   margin-bottom: 20px;
}

.cartempty-title span {
   color: var(--primary-color);
}

.cartempty-desc {
   font-size: var(--xlarge-font-size);
   line-height: var(--xlarge-line-height);
   color: var(--text-color);
   margin-bottom: 50px;
}