/* Header */
@media screen and (max-width: 1028.98px) {
   .header {
      padding-top: 0;
   }

   .header-main {
      margin-bottom: 50px;
      border-radius: 0;
   }

   .header-menu {
      display: none;
   }

   .header-auth {
      display: none;
   }

   .menu-toggle {
      display: block;
   }

}

@media screen and (max-width: 768.98px) {
   .header {
      padding-bottom: 50px;
   }

   .header-main {
      padding: 20px 0;
   }

   .mb-nav {
      width: 450px;
   }
}

@media screen and (max-width: 474.98px) {
   .menu-close {
      top: 13px;
      right: 15px;
   }

   .mb-nav {
      width: 350px;
      padding: 50px;
   }
}

@media screen and (max-width: 375.98px) {
   .mb-nav {
      width: 250px;
   }
}

/* Hero section */
@media screen and (min-width: 1024px) {
   @keyframes moveY {
      from {
         transform: translateY(-15px);
      }

      to {
         transform: translateY(15px);
      }
   }

   .hero-image img {
      animation: moveY 1.8s alternate infinite;
   }
}

@media screen and (max-width: 1024.98px) {

   .hero-container {
      flex-wrap: wrap;
      gap: 60px;
   }

   .hero-image {
      max-width: 330px;
      margin-left: auto;
      margin-right: auto;
   }

   .hero-desc {
      width: 100%;
   }
}

@media screen and (max-width: 475.98px) {

   .hero-image {
      max-width: 85%;
   }
}

/* Logo Section*/
@media screen and (max-width: 1024.98px) {
   .logo {
      margin-bottom: 40px;
   }

   .logo-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
   }
}

@media screen and (max-width: 668.98px) {
   .logo-container {
      grid-template-columns: 100%;
   }
}

/* Offer section */
@media screen and (min-width: 1024px) {
   .offer-item:hover .offer-item-image {
      background-color: #FFEAF0;
      transform: scale(1.03)
   }
}

@media screen and (max-width: 1023.98px) {
   .offer-list {
      grid-template-columns: 1fr 1fr;
   }

   .offer-item:hover .offer-item-image img {
      transform: scale(1.03);
   }
}

@media screen and (max-width: 687.98px) {

   .offer-list {
      display: grid;
      grid-auto-columns: 60%;
      /* fix cột tự động từ trên xuống chuyển sang trái phải */
      grid-auto-flow: column;
      overflow-x: scroll;
      /* Bắt buộc chỉ scroll tới phần tử gần nhất */
      scroll-snap-type: x mandatory;
      /* Ngăn việc lướt quá nhanh qua các phần tử */
      scroll-snap-stop: always;
      /* Sp màn cảm hình ứng tránh việc phóng to thu nhỏ, không bị trượt trang */
      touch-action: manipulation;
      -ms-touch-action: manipulation;
      /* Sp thiết bị di động mượt hơn */
      -webkit-overflow-scrolling: touch;
      /* unset cột về mặc định */
      grid-template-columns: unset;
   }

   .offer-list::-webkit-scrollbar {
      display: none;
      width: 0;
   }

   .offer-list>* {
      /* Dừng lại điểm đầu tiên của element khi scroll */
      scroll-snap-align: start;
   }

   .offer-item {
      margin-bottom: 15px;
   }
}

@media screen and (max-width: 474.98px) {
   .offer-list {
      grid-auto-columns: 100%;
   }

   .offer-item-image {
      margin-bottom: unset;
      padding: 20px 0px;
   }

   .offer-item-image img {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
   }
}


/* Feature Section */
@media screen and (max-width: 1024.98px) {
   .feature-list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 768.98px) {
   .feature {
      padding: 55px 0;
   }

   .feature-item-image img {
      height: 100%;
   }

   .feature-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
   }

}

@media screen and (max-width: 467.98px) {
   .feature-list {
      display: grid;
      grid-auto-columns: 70%;
      /* fix cột tự động từ trên xuống chuyển sang trái phải */
      grid-auto-flow: column;
      overflow-x: scroll;
      /* Bắt buộc chỉ scroll tới phần tử gần nhất */
      scroll-snap-type: x mandatory;
      /* Ngăn việc lướt quá nhanh qua các phần tử */
      scroll-snap-stop: always;
      /* Sp màn cảm hình ứng tránh việc phóng to thu nhỏ, không bị trượt trang */
      touch-action: manipulation;
      -ms-touch-action: manipulation;
      /* Sp thiết bị di động mượt hơn */
      -webkit-overflow-scrolling: touch;
      /* unset cột về mặc định */
      grid-template-columns: unset;
   }

   .feature-list::-webkit-scrollbar {
      display: none;
      width: 0;
   }

   .feature-list>* {
      /* Dừng tại điểm đầu tiên của element sau khi scroll */
      scroll-snap-align: start;
   }
}

@media screen and (max-width: 324.98px) {
   .feature-list {
      grid-auto-columns: 100%;
   }
}

/* Deal */
@media screen and (max-width: 1023.98px) {
   .deal-list {
      flex-direction: column;
   }

   .deal-item {
      width: 550px;
   }
}

@media screen and (max-width: 767.98px) {
   .deal-content {
      padding: 18px 17px 23px 19px;
   }

   .deal-content__heading {
      margin-bottom: 20px;
   }

   .deal-item {
      max-width: 100%;
   }

   .deal-image img {
      height: 130px;
   }
}

@media screen and (max-width: 474.98px) {
   .deal-item {
      flex-direction: column;
      width: 100%;
      gap: 10px;
   }

   .deal-image {
      width: 60%;
   }

}

/* Natural Section */
@media screen and (max-width: 1023.98px) {
   .natural-header {
      margin-bottom: 45px;
   }

   .natural-list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
   }
}

/* Footer */
@media screen and (max-width: 1023.98px) {
   .footer-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0px 100px;
   }
}


@media screen and (max-width: 767.98px) {
   .footer {
      padding-top: 55px;
   }
}

@media screen and (max-width: 600px) {
   .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 20px 0px;
   }
}

/* Product Section */
@media screen and (min-width: 1024px) {
   .product-item:hover .product-item-image {
      background-color: rgba(237, 237, 237, .2);
   }

   .product-item:hover {
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
      animation: productMoveY .2s forwards ease-in-out;
   }

   @keyframes productMoveY {
      from {
         transform: translateY(0);
      }

      to {
         transform: translateY(-2px);
      }
   }
}

@media screen and (max-width: 1279.98px) {
   .product-list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 1023.98px) {
   .product-list {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 676.98px) {
   .product-list {
      display: grid;
      grid-auto-columns: 80%;
      /* fix cột tự động từ trên xuống chuyển sang trái phải */
      grid-auto-flow: column;
      overflow-x: scroll;
      /* Bắt buộc chỉ scroll tới phần tử gần nhất */
      scroll-snap-type: x mandatory;
      /* Ngăn việc lướt quá nhanh qua các phần tử */
      scroll-snap-stop: always;
      /* Sp màn cảm hình ứng tránh việc phóng to thu nhỏ, không bị trượt trang */
      touch-action: manipulation;
      -ms-touch-action: manipulation;
      /* Sp thiết bị di động mượt hơn */
      -webkit-overflow-scrolling: touch;
      /* unset cột về mặc định */
      grid-template-columns: unset;
   }

   .product-list::-webkit-scrollbar {
      /* Ẩn thanh scroll */
      display: none;
      width: 0;
   }

   .product-list>* {
      /* Dừng tại điểm đầu tiên của element khi scroll */
      scroll-snap-align: start;
   }

   .product-item {
      margin-top: 10px;
   }

   .product-item-image img {
      height: 130px;
   }
}

@media screen and (max-width: 457.99px) {

   .product-list {
      grid-auto-columns: 100%;
   }
}

/* Cart */
@media screen and (max-width: 967.98px) {
   .cart-container {
      grid-template-columns: 1fr;
   }
}

@media screen and (max-width: 478.98px) {
   .cart-item {
      gap: 15px;
      padding: 12px 12px 12px 0;
   }

   .cart-item-content__counter {
      gap: 11px;
   }

   .card-item-content-prices {
      margin-bottom: 10px;
   }

   .cart-item-content__quantity {
      gap: 25px;
   }

   .cart-item-remove {
      top: 15px;
      right: 15px;
   }

   .cart-item-image {
      max-width: 100px;
   }

}