/* Header */
@media screen and (max-width: 1028.98px) {
   .header {
      padding-top: 0;
   }

   .header-main {
      position: fixed;
      padding: 28px 20px;
      right: 0;
      top: 0;
      left: 0;
      border-radius: 0;
      z-index: 100;
   }

   .header-menu {
      display: none;
   }

   .header-auth {
      display: none;
   }

   .menu-toggle {
      display: block;
   }

}

@media screen and (max-width: 768.98px) {
   .header {
      padding-bottom: 50px;
   }

   .header-main {
      padding: 23px 15px;
   }

   .mb-nav {
      width: 450px;
   }
}

@media screen and (max-width: 474.98px) {
   .mb-nav {
      width: 350px;
      padding: 60px;
   }
}

@media screen and (max-width: 375.98px) {
   .header-main {
      padding: 18px 15px;
   }

   .mb-nav {
      width: 250px;
      padding: 40px;
   }
}

/* Hero section */
@media screen and (min-width: 1024px) {
   @keyframes moveY {
      from {
         transform: translateY(-15px);
      }

      to {
         transform: translateY(15px);
      }
   }

   .hero-image img {
      animation: moveY 1.5s alternate infinite;
   }

   .hero-desc {
      max-width: 497px;

   }
}

@media screen and (max-width: 1024.98px) {
   .hero {
      padding-top: 180px;
   }

   .hero-container {
      flex-wrap: wrap;
      gap: 60px;
   }

   .hero-image {
      max-width: 330px;
      margin-left: auto;
      margin-right: auto;
   }

   .hero-heading {
      font-size: 60px;
      line-height: 80px;
   }

   .hero-desc {
      width: 100%;
   }
}

@media screen and (max-width: 768.98px) {
   .hero {
      padding-top: 145px;
   }

   .hero-heading {
      font-size: 40px;
      line-height: 60px;
   }

}

@media screen and (max-width: 667.98px) {
   .hero {
      padding-top: 120px;
   }
}

@media screen and (max-width: 475.98px) {

   .hero-image {
      max-width: 85%;
   }
}

/* Logo Section*/
@media screen and (max-width: 1024.98px) {
   .logo {
      margin-bottom: 40px;
   }

   .logo-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
   }
}

@media screen and (max-width: 668.98px) {
   .logo-container {
      grid-template-columns: 100%;
   }
}

/* Offer section */
@media screen and (min-width: 1024px) {
   .offer-item:hover .offer-item-image {
      background-color: #FFEAF0;
      transform: scale(1.03)
   }
}

@media screen and (max-width: 1024.98px) {
   .offer-list {
      grid-template-columns: 1fr 1fr;
   }

   .offer-item-image {
      margin-top: 10px;
   }

   .offer-item:hover .offer-item-image img {
      transform: scale(1.03);
   }
}

@media screen and (max-width: 687.98px) {

   .offer-list {
      display: grid;
      grid-auto-columns: 90%;
      grid-auto-flow: column;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      grid-template-columns: unset;
   }

   .offer-list::-webkit-scrollbar {
      display: none;
      width: 0;
   }

   .offer-list>* {
      scroll-snap-align: start;
   }
}


/* Feature Section */
@media screen and (max-width: 1024.98px) {
   .feature-list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 768.98px) {
   .feature {
      padding: 55px 0;
   }

   .feature-item-image img {
      height: 100%;
   }

   .feature-list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
   }

   .feature-item-price {
      font-size: 18px;
   }
}

@media screen and (max-width: 467.98px) {
   .feature-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 65%;
      grid-auto-flow: column;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      grid-template-columns: unset;
   }

   .feature-list::-webkit-scrollbar {
      display: none;
      width: 0;
   }

   .feature-list>* {
      scroll-snap-align: start;
   }
}

@media screen and (max-width: 324.98px) {
   .feature-list {
      grid-auto-columns: 100%;
   }
}

/* Deal */
@media screen and (max-width: 1023.98px) {
   .deal-list {
      flex-direction: column;
   }

   .deal-item {
      width: 550px;
   }
}

@media screen and (max-width: 767.98px) {
   .deal-content {
      padding: 18px 17px 23px 19px;
   }

   .deal-content__heading {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
   }

   .deal-content__sale {
      font-size: 18px;
   }

   .deal-item {
      max-width: 100%;
   }

   .deal-image img {
      height: 130px;
   }
}

@media screen and (max-width: 474.98px) {
   .deal-item {
      flex-direction: column;
      width: 100%;
      gap: 10px;
   }

   .deal-image {
      width: 60%;
   }

}

/* Natural Section */
@media screen and (max-width: 1023.98px) {
   .natural-header {
      margin-bottom: 45px;
   }

   .natural-list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
   }
}

/* Footer */
@media screen and (max-width: 1023.98px) {
   .footer-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0px 100px;
   }
}


@media screen and (max-width: 767.98px) {
   .footer {
      padding-top: 55px;
   }
}

@media screen and (max-width: 600px) {
   .footer-bottom {
      flex-direction: column;
      text-align: center;
      gap: 20px 0px;
   }
}

/* Product Section */
@media screen and (min-width: 1024px) {
   .product-item:hover .product-item-image {
      background-color: rgba(237, 237, 237, .2);
   }

   .product-item:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      animation: productMoveY .2s forwards ease-in-out;
   }

   @keyframes productMoveY {
      from {
         transform: translateY(0);
      }

      to {
         transform: translateY(-2px);
      }
   }
}

@media screen and (max-width: 1279.98px) {
   .product-list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 1023.98px) {
   .product-list {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 676.98px) {
   .product-list {
      display: grid;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      grid-template-columns: unset;
      scroll-padding: 10px;
   }

   .product-list::-webkit-scrollbar {
      display: none;
      width: 0;
   }

   .product-list>* {
      scroll-snap-align: start;
   }

   .product-item {
      margin-top: 10px;
   }
}

@media screen and (max-width: 457.99px) {
   .product-list {
      grid-auto-columns: 100%
   }
}

/* Intro */
@media screen and (max-width: 1023.98px) {
   .intro {
      padding: 110px 0;
   }

   .intro-heading {
      font-size: 32px;
   }
}

@media screen and (max-width: 767.98px) {
   .intro {
      margin-top: 60px;
      padding: 60px 0;
   }

   .intro-heading {
      font-size: 28px;
   }
}

/* Cart */
@media screen and (max-width: 967.98px) {
   .cart-container {
      grid-template-columns: 1fr;
   }
}

@media screen and (max-width: 478.98px) {
   .cart-item {
      gap: 15px;
      padding: 12px 12px 12px 0;
   }

   .cart-item-content__price,
   .cart-item-content__title {
      font-size: 18px;
      line-height: 18px;
   }

   .cart-item-content__counter {
      gap: 11px;
   }

   .card-item-content-prices {
      margin-bottom: 10px;
   }

   .cart-item-content__quantity {
      gap: 25px;
   }

   .cart-item-remove {
      top: 15px;
      right: 15px;
   }

   .cart-item-image {
      max-width: 100px;
   }

   .cart-payment-detail__title {
      font-size: 18px;
   }

   .cart-payment-detail__total {
      font-size: 17px;
   }

   .cart-payment-detail__sub {
      font-size: 15px;
   }

   .cart-payment-detail__sub,
   .cart-payment-detail__title,
   .cart-payment-detail__total {
      padding: 17px;
   }
}