:root {
   /* --primary-color: rgb(123, 186, 38); */
   --primary-color: #60c731;
   --heading-color: #173748;
   --text-color: #6e6e6e;
   --text-color-2: #434343;
   --green-color: #55c57a;
   --white-color: #ffffff;
   --black-color: #000000;
   --gray-color: #9f9f9f;
   --gray-light-color: #AEAEAE;
   --gray-silver-color: #ededed;
   --gray-graphite-color: #7e7e7e;
   --red-color: #ff0a0a;
   --tealGreen: #1A6A62;
   --bg1: #f0ffed;
   --bg2: #f9f9f9;
   --bg3: #edf9ff;
   --bg4: #ffeced;
   --bg6: #fffbe3;
   --bg7: #e1fcd4;
   --bg8: #f7fde3;
   --bg9: #e5e5e5;
}