:root {
   /* --primary-color: rgb(123, 186, 38); */
   --primary-color: rgb(82, 192, 32);
   --heading-color: rgb(23, 55, 72);
   --text-color: rgb(110, 110, 110);
   --green-color: rgb(85, 197, 122);
   --white-color: rgb(255, 255, 255);
   --black-color: rgb(0, 0, 0);
   --gray-color: rgb(159, 159, 159);
   --red-color: rgb(255, 10, 10);
   --bg1: rgb(240, 255, 237);
   --bg2: rgb(249, 249, 249);
   --bg3: rgb(237, 249, 255);
   --bg4: rgb(255, 236, 237);
   --bg6: rgb(255, 251, 227);
   --bg7: rgb(225, 252, 212);
   --bg8: rgb(247, 253, 227);
}