/* Mobile Nav */
.menu-toggle {
   font-size: 22px;
   color: var(--primary-color);
   cursor: pointer;
   display: none;
}

.menu-close {
   position: absolute;
   top: 20px;
   right: 25px;
   font-size: 25px;
   color: var(--primary-color);
   cursor: pointer;
}

.mb-nav {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   width: 500px;
   height: 100%;
   box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
   background-color: var(--bg2);
   z-index: 3;
   padding: 70px 40px;
   transition: all 0.2s linear;
   transform: translateX(100%);
}

.mb-nav.is-show {
   transform: translateX(0);
}

.navigation-cart-item,
.navigation-btn-signup-item,
.navigation-btn-login-item {
   padding: 22px;
   margin-bottom: 10px;
}

.navigation-item {
   display: block;
   list-style-type: none;
}

.navigation-item-link {
   display: block;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   position: relative;
   transition: .2s ease-out;
   padding: 15px 20px;
   margin-bottom: 10px;
}

.navigation-item-link:hover {
   background-color: var(--primary-color);
   border-radius: 5px;
   color: var(--white-color);
}

.navigation-btn-signup {
   border-radius: 5px;
   padding: 10px 44px;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   transition: all .3s ease-out;
   border: 1px solid var(--primary-color);
}

/* Header */
.header {
   padding: 30px 0 110px 0;
   background-color: var(--bg1);
}

.header-main {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--white-color);
   box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 22px 55px;
   margin-bottom: 100px;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-menu {
   display: flex;
   align-items: center;
   gap: 40px;
}

.header-menu-item-link {
   display: block;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   position: relative;
   transition: .2s ease-out;
}

.header-menu-item-link:hover {
   transform: rotate(-4deg) scale(1.02);
}

.header-menu-item-link::before {
   position: absolute;
   content: '';
   top: 100%;
   left: 0;
   width: 0;
   height: 3px;
   background-color: #7BBA26;
   transition: .3s ease-in-out;
}

.header-menu-item-link:hover::before {
   width: 100%;
}

.header-auth {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header-button {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header-btn-login {
   color: var(--white-color);
   background-color: var(--primary-color);
   border-radius: 5px;
}

.header-btn-signup {
   border-radius: 5px;
   padding: 10px 44px;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   transition: all .3s ease-out;
}

.header-btn-signup:hover {
   color: var(--white-color);
   background-color: var(--primary-color);
}

.header-cart-link:hover {
   animation: bounced 2s linear alternate infinite;
}

@keyframes bounced {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-7px);
   }

   100% {
      transform: translateY(7px);
   }
}

/* Hero Section */
.hero-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.hero-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
   transition: transform 0.2s linear;
}

.hero-image img:hover {
   transform: scale(1.1);
}

.hero-heading {
   font-weight: 800;
   font-size: 70px;
   line-height: 122px;
   color: var(--heading-color);
   margin-bottom: 28px;
}

.hero-heading span {
   color: var(--primary-color);
}

.hero-desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: var(--text-color);
   max-width: 497px;
   margin-bottom: 56px;
}

/* Logo Section */
.logo {
   padding: 52px 0;
   margin-bottom: 100px;
}

.logo-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 45px;
}

.logo-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 6px;
}

.logo-item img {
   width: 40px;
   height: 40px;
}

.logo-text {
   display: block;
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   color: var(--text-color);
   text-align: center;
}

/* offer Section */
.offer {
   margin-bottom: 12px;
}

.offer-heading {
   margin-bottom: 80px;
}

.offer-list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 30px;
   margin-bottom: 60px;
}

.offer-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #E9E9E9;
   border-radius: 5px;
   transition: all 0.2s linear;
   position: relative;
   overflow: hidden;
}

.offer-new {
   position: absolute;
   left: 10px;
   top: 12px;
   z-index: 10;
}

.offer-new span {
   display: block;
   padding: 3px 23px;
   background-color: var(--primary-color);
   font-weight: 600;
   font-size: 12px;
   line-height: 16px;
   border-radius: 5px;
   color: var(--white-color);
}

.offer-item-like {
   position: absolute;
   right: 10px;
   top: 12px;
   z-index: 10;
   cursor: pointer;
   display: none;
}

.offer-item-unlike {
   position: absolute;
   right: 10px;
   top: 12px;
   z-index: 10;
   cursor: pointer;
}

.offer-item:hover {
   box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
}

.offer-item-image {
   height: 180px;
   padding: 10px 47px;
   margin-bottom: 18px;
   transition: all 0.2s linear;
   position: relative;
}

.offer-item-image img {
   width: 100%;
   object-fit: cover;
   transition: all 0.2s linear;
}

.offer-item-content {
   padding: 0 36px;
}

.offer-item-title {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: var(--heading-color);
   margin-bottom: 10px;
   text-align: center;
}

.offer-item-price {
   display: flex;
   align-items: center;
   gap: 22px;
   margin-bottom: 22px;
}

.offer-item-price--old {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: var(--text-color);
   text-decoration: line-through;
}

.offer-item-price--current {
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   color: var(--primary-color);
}

.offer-more {
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}