html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   -webkit-scroll-behavior: smooth;
}

body {
   text-transform: capitalize;
   font-family: 'Nunito', sans-serif;
   overflow-x: hidden;
   background-color: var(--white-color);
}

.wrapper {
   max-width: 1920px;
   margin: 0 auto;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.btn-primary {
   background-color: var(--primary-color);
   color: var(--white-color);
   border-radius: 5px;
   padding: 10px 44px;
   cursor: pointer;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   position: relative;
}

.btn-primary::before {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   bottom: 0;
   width: 0;
   height: 100%;
   background-color: rgba(255, 255, 255, .15);
   transition: width .5s ease-out;
}

.btn-primary:hover::before {
   width: 100%;
}

.section-heading {
   margin-bottom: 28px;
}

.section-heading h1 {
   font-weight: 600;
   font-size: 52px;
   line-height: 71px;
   text-align: center;
   color: var(--heading-color);
}

@media screen and (max-width: 1023.98px) {
   .section-heading h1 {
      font-size: 42px;
      line-height: 51px;
   }
}

@media screen and (max-width: 767.98px) {
   .section-heading h1 {
      font-size: 32px;
      line-height: 41px;
   }
}