/* Mobile Nav */
.menu-toggle {
   font-size: 30px;
   color: var(--primary-color);
   cursor: pointer;
   display: none;
}

.menu-close {
   position: absolute;
   top: 25px;
   right: 45px;
   font-size: 35px;
   color: var(--primary-color);
   cursor: pointer;
}

.mb-nav {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   width: 500px;
   height: 100%;
   box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
   background-color: var(--bg2);
   z-index: 110;
   padding: 70px 40px;
   transition: all 0.2s linear;
   transform: translateX(120%);
}

.mb-nav.is-show {
   transform: translateX(0);
}

.navigation-cart-item,
.navigation-btn-signup-item,
.navigation-btn-login-item {
   padding: 22px;
   margin-bottom: 10px;
}

.navigation-item {
   display: block;
   list-style-type: none;
}

.navigation-item-link {
   display: block;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   position: relative;
   transition: .2s ease-out;
   padding: 15px 20px;
   margin-bottom: 10px;
}

.navigation-item-link:hover {
   background-color: var(--primary-color);
   border-radius: 5px;
   color: var(--white-color);
}

.navigation-btn-signup {
   border-radius: 5px;
   padding: 10px 44px;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   transition: all .3s ease-out;
   border: 1px solid var(--primary-color);
}

/* Header */
.header {
   padding: 30px 0 110px 0;
   background-color: var(--bg1);
}

.header-main {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--white-color);
   box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 22px 55px;
   margin-bottom: 100px;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-menu {
   display: flex;
   align-items: center;
   gap: 40px;
}

.header-menu-item-link {
   display: block;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   position: relative;
   transition: .2s ease-out;
   padding: 2px 3px;
}

.header-menu-item-link:hover {
   /* transform: rotate(-4deg) scale(1.02);
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
   border-radius: 5px; */
   animation: rotate .8s alternate infinite;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg) scale(1.02);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
   }

   50% {
      transform: rotate(-5deg) scale(1.02);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
   }

   100% {
      transform: rotate(5deg);
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
   }
}

.header-menu-item-link::before {
   position: absolute;
   content: '';
   display: flex;
   justify-content: center;
   align-items: center;
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   width: 0;
   height: 3px;
   background-color: #7BBA26;
   transition: .3s ease-in-out;
}

.header-menu-item-link:hover::before {
   width: 100%;
}

.header-auth {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header-button {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header-btn-login {
   color: var(--white-color);
   background-color: var(--primary-color);
   border-radius: 5px;
}

.header-btn-signup {
   border-radius: 5px;
   padding: 10px 44px;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   transition: all .3s ease-out;
}

.header-btn-signup:hover {
   color: var(--white-color);
   background-color: var(--primary-color);
}

.header-cart-link:hover {
   animation: bounced 2s linear alternate infinite;
}

@keyframes bounced {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(-7px);
   }

   100% {
      transform: translateY(7px);
   }
}

/* Hero Section */
.hero-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.hero-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   cursor: pointer;
   transition: transform 0.2s linear;
}

.hero-image img:hover {
   transform: scale(1.03);
}

.hero-heading {
   font-weight: 800;
   font-size: 70px;
   line-height: 122px;
   color: var(--heading-color);
   margin-bottom: 28px;
}

.hero-heading span {
   color: var(--primary-color);
}

.hero-desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: var(--text-color);
   margin-bottom: 56px;
}

/* Logo Section */
.logo {
   padding: 52px 0;
   margin-bottom: 100px;
}

.logo-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 45px;
}

.logo-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 6px;
}

.logo-item img {
   width: 40px;
   height: 40px;
   transition: all 0.2s ease-out;
   cursor: pointer;
}

.logo-item img:hover {
   transform: scale(1.06);
}

.logo-text {
   display: block;
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   color: var(--text-color);
   text-align: center;
}

/* Product Section */

/* Deal section */
.deal {
   margin-bottom: 100px;
}

.deal-header {
   margin-bottom: 60px;
}

.deal-header-desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: var(--text-color);
   text-align: center;
}

.deal-list {
   display: flex;
   align-items: center;
   gap: 30px;
}

.deal-item {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   border-radius: 10px;
}

.deal-item:first-child {
   background-color: #EDFFEA;
}

.deal-item:nth-child(2) {
   background-color: #FFECED;
}

.deal-content {
   padding: 25px 29px 25px 30px;
}

.deal-content__sale {
   font-weight: 600;
   font-size: 22px;
   line-height: 30px;
   margin-bottom: 10px;
}

.deal-content__sale--1 {
   color: var(--primary-color);
}

.deal-content__sale--2 {
   color: #C26166;
}

.deal-content__heading {
   font-weight: 600;
   font-size: 32px;
   line-height: 44px;
   color: var(--heading-color);
   margin-bottom: 37px;
}

.deal-content-more {
   padding-inline: 20px;
   font-size: 15px;
}

/* Natural section */
.natural {
   margin-bottom: 100px;
}

.natural-header {
   margin-bottom: 60px;
}

.natural-header-desc {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: var(--text-color);
   text-align: center;
}

.natural-list {
   display: flex;
   align-items: center;
   gap: 70px;
}

.natural-item img {
   transform: scale(.97);
   transition: all .2s ease;
   cursor: pointer;
}

.natural-item img:hover {
   transform: scale(1);
}

/* Footer */
.footer {
   overflow: hidden;
   padding: 100px 0 33px 0;
   background-color: #EDF9FF;
   position: relative;
}

.footer-background {
   position: absolute;
   bottom: 0;
   user-select: none;
   pointer-events: none;
   z-index: 1;
   max-width: 100%;
   max-height: 100%;
}

.footer-logo {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 60px;
}

.footer-list {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 3fr;
   grid-gap: 150px;
}

.footer-column {
   margin-bottom: 60px;
}

.footer-column-heading {
   font-weight: 600;
   font-size: 18px;
   line-height: 32px;
   color: #373737;
   margin-bottom: 15px;
}

.footer-item {
   margin-bottom: 15px;
}

.footer-link {
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
   position: relative;
   padding-bottom: 2px;
}

.footer-link::before {
   position: absolute;
   content: '';
   top: 100%;
   left: 50%;
   transform: translateX(-50%);
   height: 3px;
   width: 0;
   background-color: var(--primary-color);
   transition: .3s ease-out;
}

.footer-link:hover::before {
   width: 100%;
   left: 0;
   transform: translateX(0);
}

.footer-contact-item {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 25px;
}

.footer-contact-item span {
   font-weight: 600;
   font-size: 16px;
   line-height: 22px;
   color: var(--text-color);
}

.footer-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid #DBE7ED;
   padding-top: 33px;
}

.footer-copyright {
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: var(--gray-color);
}

.footer-social {
   display: flex;
   align-items: center;
   gap: 20px;
}

.footer-social img {
   transition: all 0.2s ease-in-out;
   cursor: pointer;
}

.footer-social img:hover {
   opacity: .7;
}