/* Header */
@media screen and (max-width: 1023.98px) {
   .header {
      padding-top: 0;
   }

   .header-main {
      position: fixed;
      padding: 33px 20px;
      right: 0;
      top: 0;
      left: 0;
      border-radius: 0;
      z-index: 100;
   }

   .header-menu {
      display: none;
   }

   .header-auth {
      display: none;
   }

   .menu-toggle {
      display: block;
   }

}

@media screen and (max-width: 767.98px) {
   .header {
      padding-bottom: 50px;
   }

   .header-main {
      padding: 23px 20px;
   }

   .mb-nav {
      width: 350px;
   }
}

@media screen and (max-width: 375.98px) {
   .header-main {
      padding: 18px 15px;
   }

   .mb-nav {
      width: 280px;
      padding: 85px 20px;
   }
}


/* Hero section */
@media screen and (min-width: 1024px) {
   .hero-desc {
      max-width: 497px;

   }
}

@media screen and (max-width: 1023.98px) {
   .hero {
      padding-top: 180px;
   }

   .hero-container {
      flex-wrap: wrap;
      gap: 60px;
   }

   .hero-image {
      max-width: 65%;
      margin-left: auto;
      margin-right: auto;
   }

   .hero-heading {
      font-size: 60px;
      line-height: 80px;
   }

   .hero-desc {
      width: 100%;
   }
}

@media screen and (max-width: 768.98px) {
   .hero {
      padding-top: 160px;
   }

   .hero-heading {
      font-size: 40px;
      line-height: 60px;
   }

}

@media screen and (max-width: 667.98px) {
   .hero {
      padding-top: 120px;
   }
}

@media screen and (max-width: 475.98px) {

   .hero-image {
      max-width: 90%;
   }
}

/* Logo Section*/
@media screen and (max-width: 1023.98px) {
   .logo {
      margin-bottom: 40px;
   }

   .logo-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
   }
}

@media screen and (max-width: 667.98px) {
   .logo-container {
      grid-template-columns: 100%;
   }
}


/* Offer section */
@media screen and (min-width: 1024px) {
   .offer-item:hover .offer-item-image {
      background-color: #FFEAF0;
      transform: scale(1.03)
   }
}

@media screen and (max-width: 1023.98px) {
   .offer-list {
      grid-template-columns: 1fr 1fr;
   }

   .offer-item-image {
      margin-top: 10px;
   }

   .offer-item:hover .offer-item-image img {
      transform: scale(1.03);
   }
}

@media screen and (max-width: 667.98px) {
   .offer-list {
      grid-template-columns: 100%;
   }
}