/* Header */
@media screen and (max-width: 1028.98px) {
   .header {
      padding-top: 0;
   }

   .header-main {
      position: fixed;
      padding: 28px 20px;
      right: 0;
      top: 0;
      left: 0;
      border-radius: 0;
      z-index: 100;
   }

   .header-menu {
      display: none;
   }

   .header-auth {
      display: none;
   }

   .menu-toggle {
      display: block;
   }

}

@media screen and (max-width: 768.98px) {
   .header {
      padding-bottom: 50px;
   }

   .header-main {
      padding: 23px 20px;
   }

   .mb-nav {
      width: 350px;
   }
}

@media screen and (max-width: 375.98px) {
   .header-main {
      padding: 18px 15px;
   }

   .mb-nav {
      width: 290px;
      padding: 85px 20px;
   }
}


/* Hero section */
@media screen and (min-width: 1024px) {
   .hero-desc {
      max-width: 497px;

   }
}

@media screen and (max-width: 1024.98px) {
   .hero {
      padding-top: 180px;
   }

   .hero-container {
      flex-wrap: wrap;
      gap: 60px;
   }

   .hero-image {
      max-width: 65%;
      margin-left: auto;
      margin-right: auto;
   }

   .hero-heading {
      font-size: 60px;
      line-height: 80px;
   }

   .hero-desc {
      width: 100%;
   }
}

@media screen and (max-width: 768.98px) {
   .hero {
      padding-top: 145px;
   }

   .hero-heading {
      font-size: 40px;
      line-height: 60px;
   }

}

@media screen and (max-width: 667.98px) {
   .hero {
      padding-top: 120px;
   }
}

@media screen and (max-width: 475.98px) {

   .hero-image {
      max-width: 90%;
   }
}

/* Logo Section*/
@media screen and (max-width: 1024.98px) {
   .logo {
      margin-bottom: 40px;
   }

   .logo-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
   }
}

@media screen and (max-width: 668.98px) {
   .logo-container {
      grid-template-columns: 100%;
   }
}


/* Offer section */
@media screen and (min-width: 1024px) {
   .offer-item:hover .offer-item-image {
      background-color: #FFEAF0;
      transform: scale(1.03)
   }
}

@media screen and (max-width: 1024.98px) {
   .offer-list {
      grid-template-columns: 1fr 1fr;
   }

   .offer-item-image {
      margin-top: 10px;
   }

   .offer-item:hover .offer-item-image img {
      transform: scale(1.03);
   }
}

@media screen and (max-width: 687.98px) {
   .offer-list {
      grid-template-columns: 100%;
   }
}

/* Feature */
@media screen and (max-width: 1024.98px) {
   .feature-list {
      grid-template-columns: repeat(3, 1fr);
   }
}

@media screen and (max-width: 768.98px) {
   .feature {
      padding: 55px 0;
   }

   .feature-item-image img {
      height: 100%;
   }

   .feature-list {
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (max-width: 475.98px) {
   .feature-list {
      grid-template-columns: 1fr;
   }
}

/* Deal */
@media screen and (max-width: 1023.98px) {
   .deal-list {
      flex-direction: column;
   }

   .deal-item {
      width: 550px;
   }
}

@media screen and (max-width: 767.98px) {
   .deal-content {
      padding: 18px 17px 23px 19px;
   }

   .deal-content__heading {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 20px;
   }

   .deal-content__sale {
      font-size: 18px;
   }

   .deal-item {
      max-width: 100%;
   }

   .deal-image img {
      height: 130px;
   }
}

@media screen and (max-width: 474.98px) {
   .deal-item {
      flex-direction: column;
      width: 100%;
      gap: 10px;
   }

   .deal-image {
      width: 60%;
   }

}

/* Natural Section */
@media screen and (max-width: 1023.98px) {
   .natural-header {
      margin-bottom: 45px;
   }

   .natural-list {
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
   }
}

/* Footer */
@media screen and (max-width: 1023.98px) {
   .footer-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0px 100px;
   }
}


@media screen and (max-width: 767.98px) {
   .footer {
      padding-top: 55px;
   }
}

@media screen and (max-width: 600px) {
   .footer-bottom {
      flex-direction: column;
      gap: 20px 0px;
   }
}