:root {
   --primary-color: #7BBA26;
   --heading-color: #173748;
   --text-color: #6E6E6E;
   --green-color: #55c57a;
   --white-color: #ffffff;
   --black-color: #000000;
   --gray-color: #9F9F9F;
   --red-color: #FF0A0A;
   --bg1: #F0FFED;
   --bg2: #F9F9F9;
   --bg3: #EDF9FF;
   --bg4: #FFECED;
   --bg6: #FFFBE3;
   --bg7: #E1FCD4;
   --bg8: #F7FDE3;
}